ul.messages {
	list-style-type: none;
}
ul.errorlist {
	list-style-type: none;
	display: table;
	background: #ff7885;
	font-size: 15px;
	padding: 5px;
	border: 1px solid grey;
}

li.alert-success {
	display: table;
	background: #7aff78;
	font-size: 30px;
	padding: 5px;
	border: 1px solid grey;
}
li.alert-danger {
	display: table;
	background: #ff7885;
	font-size: 30px;
	padding: 5px;
	border: 1px solid grey;
}
ul.menu-bar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li.menu-bar {
  float: left;
}

li.menu-bar a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li.menu-bar a:hover:not(.active) {
  background-color: #111;
}

.myButton {
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
	background-color:#ffffff;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#666666;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
	width: 200px;
	text-align: center;
}
.myButton:hover {
	background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
	background-color:#f6f6f6;
}
.myButton:active {
	position:relative;
	top:1px;
}

.active {
  background-color: #04AA6D;
}
.check-list {
  margin: 0;
  padding-left: 1.2rem;
}

.check-list li {
  position: relative;
  list-style-type: none;
  padding-left: 2.5rem;
  margin-bottom: 0.5rem;
  font-family: Monospace;
}

.check-list li:before {
    content: '';
    display: block;
    position: absolute;
    left: 35px;
    top: 6px;
    width: 5px;
    height: 11px;
    border-width: 0 2px 2px 0;
    border-style: solid;
    border-color: #00a8a8;
    transform-origin: bottom left;
    transform: rotate(45deg);
}


/* Boilerplate stuff */
*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  -webkit-font-smoothing: antialiased;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 62.5%;
  background: #d1d1d1;
}

body {
  font-size: 1.6rem; /* 18px */
  background-color: #efefef;
  color: #324047
}

html,
body,
section {
  height: 100%;
}

section {
  margin-left: 15px;
  align-items: center;
}

div {
  margin: auto;
}
