{% extends 'main/base.html' %}

{% block content %}

{% block messages %}
	{% if messages %}
		<ul class="messages" id='successMessage'>
    	{% for message in messages %}
    		<li {% if message.tags %} class="{{ message.tags }}"{% endif %}> {{ message }} </li>
    	{% endfor %}
		</ul>
	{% endif %}
{% endblock messages %}

<h1>Edit {{ position }}</h1>

<form class="edit-user-form" enctype='multipart/form-data' method="post">
    {% csrf_token %}
    <div class="form-error"> {{ form.non_field_errors }} </div>
    {% for f in form %}
		<label class="form-label" for="{{ f.id_for_label }}">{{ f.label }}:</label>
		<div class="edit-user-form-fields">{{ f }}</div>
		<div class="form-error">{{ f.errors }}</div>
	{% endfor %}

    <input class="submit-button" type="submit" value="Register">
</form>
{% endblock content %}