{% extends 'main/base.html' %}
{% load static %}
{% block content %}

{% block messages %}
	{% if messages %}
		<ul class="messages" id='successMessage'>
    	{% for message in messages %}
    		<li {% if message.tags %} class="{{ message.tags }}"{% endif %}> {{ message }} </li>
    	{% endfor %}
		</ul>
	{% endif %}
{% endblock messages %}

<h1>List of {{ user_class }}</h1>

{% load static %}
{% if left_side_posts %}
	
	{% include 'main/list_of_users_for_double_table.html' %}

{% else %}
  	<h2>Sorry...no users found :(</h2>
{% endif %}

{% endblock content %}