{% extends 'main/base.html' %}
{% block content %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

{% block messages %}
	{% if messages %}
		<ul class="messages">
    	{% for message in messages %}
    		<li {% if message.tags %} class="{{ message.tags }}"{% endif %}> {{ message }} </li>
    	{% endfor %}
		</ul>
	{% endif %}
{% endblock messages %}

<h1>List of users: {{ user_class }}</h1>

<!----------------------- Search form -------------------------->

{% if title == 'Students searching' %}
	<form class="search-form">
	    {% for dict in searching_fields %}
		    {% if not dict.value %}
		  		<input id="user-input" type="text" placeholder="Search.." name="{{ dict.field }}">
		    {% else %}
		  		<input id="user-input" type="text" value="{{ dict.value }}" placeholder="Search.." name="{{ dict.field }}">
		    {% endif %}
	    {% endfor %}
	    <button type="submit"><i id="search-icon" class="fa fa-search"></i></button>
	</form>

{% elif title == 'Teachers searching' %}
	<form class="search-form-multiple">
	{% for dict in searching_fields %}
		{% if not dict.value %}
			<input class="search-form-multiple" type="text" placeholder="{{ dict.field }}" name="{{ dict.field }}">
		{% else %}
			<input class="search-form-multiple" type="text" value="{{ dict.value }}" placeholder="{{ dict.field }}" name="{{ dict.field }}">
		{% endif %}
	{% endfor %}
	<button class="search-form-multiple" type="submit"><i class="fa fa-search"></i></button>
	</form>

	{% if applied_filters %}
		<h3 style="font-size: 25px">Applied filters:</h3>
		<ul style="font-size: 20px;">
		{% for filter in applied_filters %}
			<li>{{ filter }}</li>
		{% endfor %}
		</ul>
	{% else %}
		<h3>No filters applied</h3>
	{% endif %}

{% endif %}

<!------------------------------------------------------------------>

<div id="replaceable-content" class="col-6">
	{% include 'main/posts-results-partial.html' %}
</div>
{% endblock content %}