{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<link type="text/css" href="{% static 'users/css/styles.css' %}" rel="stylesheet" />
	<title>{{ title }}</title>
</head>
<body>
<ul class="menu-bar">
  <li class="menu-bar"><a class="active" href="{% url 'users-home' %}">Main Page</a></li>
  <li class="menu-bar"><a href="#news">About</a></li>
  <li class="menu-bar"><a href="#contact">Links</a></li>
</ul>


{% block messages %}
{% endblock messages %}

{% block content %}
{% endblock content %}

</body>
</html>