{% load static %}
<!DOCTYPE html>
<html>
<head>
	
  <link type="text/css" href="{% static 'users/css/styles.css' %}" rel="stylesheet" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <link rel="shortcut icon" href="{% static 'users/images/FoxNoBorder.ico' %}" type="image/x-icon"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  
  <!-- JQuery CDN -->
  <script src="{% static 'users/js/jquery-3.4.1.min.js' %}"></script>


  <title>{{ title }}</title>

</head>
<body>

<ul class="menu-bar">
  {% for m in menu %}
    {% if forloop.last %}
      <li class="menu-bar last-menu-button"><a target="_blank" href="{{ m.url }}">{{ m.name }}</a></li>
    {% else %}
      {% if selected == m.id %}
        <li class="menu-bar"><a class="active disabled" href="{% url m.url %}">{{ m.name }}</a></li>
      {% else %}
        <li class="menu-bar"><a class="active" href="{% url m.url %}">{{ m.name }}</a></li>
      {% endif %}
    {% endif %}
  {% endfor %}
</ul>

{% block messages %}
{% endblock messages %}

<div class="content">
{% block content %}
<!-- Content -->
{% endblock content %}
</div>

{% block footer %}
  <script type="text/javascript" src="{% static 'users/js/main.js' %}"></script>
{% endblock %}

</body>
</html>