{% load static %}
<!DOCTYPE html>
<html>
<head>
	
  <link type="text/css" href="{% static 'users/css/styles.css' %}" rel="stylesheet" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <link rel="shortcut icon" href="{% static 'users/images/FoxNoBorder.ico' %}" type="image/x-icon"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <title>{{ title }}</title>

</head>
<body>

<ul class="menu-bar">
  {% for m in menu %}
    {% if forloop.last %}
      <li class="menu-bar last-menu-button"><a target="_blank" href="{{ m.url }}">{{ m.name }}</a></li>
    {% else %}
      {% if selected == m.id %}
        <li class="menu-bar"><a class="active disabled" href="{% url m.url %}">{{ m.name }}</a></li>
      {% else %}
        <li class="menu-bar"><a class="active" href="{% url m.url %}">{{ m.name }}</a></li>
      {% endif %}
    {% endif %}
  {% endfor %}
</ul>

{% block messages %}
{% endblock messages %}

<div class="content">
{% block content %}
{% endblock content %}
</div>

</body>
</html>