{% extends 'base.html' %}

{% block messages %}
	{% if messages %}
		<ul class="messages">
    	{% for message in messages %}
    		<li {% if message.tags %} class="{{ message.tags }}"{% endif %}> {{ message }} </li>
    	{% endfor %}
		</ul>
	{% endif %}
{% endblock messages %}

{% block content %}
<h1>{{title}}</h1>

<form class="edit-user-form" action="{% url url %}" method="post" enctype="multipart/form-data">
	{% csrf_token %}	
	<div class="form-error"> {{ form.non_field_errors }} </div>
	
	{% for pole in form %}
		{% if pole.label not in options %}
			<label class="form-label" for="{{ pole.id_for_label }}"> {{ pole.label }}: </label>
				{{ pole }}
			<div class="form-error"> {{ pole.errors }} </div>
		{% else %}
			{% if pole.label|first in 'S' %}
				<div class="hidden_label_student">
				<label class="form-label" for="{{ pole.id_for_label }}"> {{ pole.label }}: </label>
					{{ pole }}
				<div class="form-error"> {{ pole.errors }} </div>
				</div>
			{% elif pole.label|first in 'T' %}
				<div class="hidden_label_teacher">
				<label class="form-label" for="{{ pole.id_for_label }}"> {{ pole.label }}: </label>
					{{ pole }}
				<div class="form-error"> {{ pole.errors }} </div>
				</div>
			{% endif %}
		{% endif %}
	{% endfor %}	
	
	<button class="submit-button" type="submit">Submit</button>
	<button class="reset-button" type="reset">Reset</button>

</form>

<script type="text/javascript" src="../static/users/js/scripts.js"></script>
{% endblock content %}