{% load static %}
<table class="userlist-table-all-left" style="margin-top: 5px;">
	<tr>
    	<th style="width:50px">Edit</th>
    	<th style="width:50px">Show</th>
    	{% for column in columns %}
    		<th>{{ column }}</th>
    	{% endfor %}
    </tr>
	{% for post in left_side_posts %}
		<tr>
			<td><a href="{% url 'edit-user' pk=post.pk %}"><button class="edit-user-button">E</button></a></td>
			<td><a href="{{ post.get_absolute_url }}"><button class="show-user-button">S</button></a></td>
			{% for value in post.get_fields_for_displaying_user_in_list %}
				{% if value.url %}
					{% if value.url|slice:":19" == '/media/user_resume/' %}
						<td><img src="{% static 'users/images/resume.png' %}" class="user-list-photo"></td>
					{% else %}
						<td><img src="{{value.url}}" class="user-list-photo"></td>
					{% endif %}
				{% else %}
					<td>{{ value }}</td>
				{% endif %}
			{% endfor %}
		</tr>
	{% endfor %}
	</table>


	<table class="userlist-table-all-right" style="margin-top: 5px;">
	<tr>
    	<th style="width:50px">Edit</th>
    	<th style="width:50px">Show</th>
    	{% for column in columns %}
    		<th>{{ column }}</th>
    	{% endfor %}
    </tr>
	
	{% for post in right_side_posts %}
		<tr>
			<td><a href="{% url 'edit-user' pk=post.pk %}"><button class="edit-user-button">E</button></a></td>
			<td><a href="{{ post.get_absolute_url }}"><button class="show-user-button">S</button></a></td>
			{% for value in post.get_fields_for_displaying_user_in_list %}
				{% if value.url %}
					{% if value.url|slice:":19" == '/media/user_resume/' %}
						<td><img src="{% static 'users/images/resume.png' %}" class="user-list-photo"></td>
					{% else %}
						<td><img src="{{value.url}}" class="user-list-photo"></td>
					{% endif %}
				{% else %}
					<td>{{ value }}</td>
				{% endif %}
			{% endfor %}
		</tr>
	{% endfor %}
	</table>