{% extends '../../main/base.html' %}

{% block content %}

<div class="register-form">

{% if form %}
  <h1 class="register-form">Password Reset Confirm</h1>
  <form method="post" class="edit-user-form register-form">
    {% csrf_token %} 
    {{ form }} 
    <button type="submit" class="submit-button">Reset password</button>
  </form>
{% else %}
  {% load static %}
  <img style="width: 200px; height: 200px;" src="{% static 'users/images/link_unavailable.png' %}">
  <p>Link unavailable. Maybe you're already reset password!</p>
{% endif %}

</div>

{% endblock %}