{% extends '../../main/base.html' %}

{% block content %}
  <!--Reset Password-->
  <div class="login-form">

  <h1 class="login-form"> Reset password </h1>

  <form method="post" class="edit-user-form login-form">
    {% csrf_token %}

    {% for f in form %}
      <label class="login-form" for="{{ f.id_for_label }}">{{ f.label }}</label>{{ f }}
      <div class="form-error">{{ f.errors }}</div>
    {% endfor %}
    
    <button type="submit" class="submit-button">Send instructions</button>
  </form>

  </div>

{% endblock %}